

.loggo p{
 
    position: absolute;
    color: #fff;
    font-size: 19px;
    line-height: 16px;
    top: 48px;
    left: 127px;
}
.loggo3{
    position: absolute;
    color: #fff;
    font-size: 51px;
    line-height: 16px;
    top: 13px;
    left: 140px;
}
.img1-logo{
    position: relative;
    width: 36.37px;
    height: 36.12px;
    left: 100.45px;
    top: 90.68px;
    transform: rotate(-3.3deg);

}
.img2-logo{
    position: relative;
    width: 36.37px;
    height: 36.12px;
    left: 89px;
    top: 38px;
    transform: rotate(1.7deg);
}