 .row-a p{
    position: absolute;
width: 415px;
height: 36px;
left: 732px;
top: 120px;

font-family:Inter;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;
}

.row-b p{
        position: absolute;
    width: 411px;
    height: 56px;
    left: 735px;
    top: 182px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #8692A6;
}
    


.conpage2{
    width: 50%;
}
.or{

    position: relative;
    width: 14px;
    height: 15px;
    left: 346px;
    top: 268px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5a5656;

}
.hidden{
    position: relative;
    left:23.74%;
    right: 20.7%;
    top: 227px;
    bottom: 28.6%;

background: #FFFFFF;
}

.txtt{
    
position: relative;
width: 220px;
height: 19px;

left: 180px;
top: 206px;


font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #696F79;
} 
.im{
    position: relative;
    left: -230px;
    top: 277px;
    width: 38px;
}